@import './header.css';
@import './hero.css';
@import './buttons.css';
@import './video.css';
@import 'text-container.css';
@import 'title-explain.css';
@import './our-values.css';
@import './our-services.css';
@import './footer.css';

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}

a {
  display: block;
  text-decoration: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.center {
  max-width: 1230px;
  margin: 0px auto;
  /* background: #d6d6d6; */
}

ul {
  list-style-type: none;
  padding: 0px;
}

:root {
  --primary: #FF5A30;
  --h1-fs: 72px;
  --h2-fs: 46px;

  --title-color: #1E212C;
  --inscription-color: #787A80;
  --text-color: #424551;
}